{% extends "falling_equations/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/CSS/style.css' %}">
{% endblock css %}

{% block content %}
<div>
    <form method="POST" class="font-weight-bolder">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            <div class="text-light">{{ form|crispy }}</div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-light font-weight-bold" type="submit">Login</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-light">
            Want to create an account? <a class="ml-2 text-info" href="{% url 'register' %}">Sign Up</a>
        </small>
        <br>
        <small class="text-light">
            Forgot Password? <a class="ml-2 text-info" href="{% url 'password_reset' %}">Reset Password</a>
        </small>
    </div>
</div>
{% endblock content %}