{% extends "falling_equations/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'users/CSS/style.css' %}">
{% endblock css %}

{% block content %}
<div class="content-section">
    <div id="profile" class="card card-body">
        <div class="media mb-5">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" width="100px" height="100px">
            <div class="ml-5  media-body">
                <h2 class="text-dark account-heading">{{ user.username }}</h2>
                <p class="text-dark">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" class="font-weight-bolder" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <div class="text-dark">{{ user_form|crispy }}</div>
                <div class="text-dark">{{ profile_form|crispy }}</div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark font-weight-bold" type="submit">Update</button>
            </div>
        </form>
    </div>
    <div id="games" class="text-center playerProfileTalbe">
        <span id="gamesText">Your best games so far</span>
        <table id="playersTable">
            <thead>
                <tr>
                    <th>Level</th>
                    <th>Score</th>
                    <th>Lost To Equation</th>
                    <th>Played</th>
                </tr>
            </thead>
            <tbody>
                {% for record in games %}
                    <tr>
                        <td>{{ record.level }}</td>
                        <td>{{ record.score }}</td>
                        <td>{{ record.last_equation }}</td>
                        <td>{{ record.date_played }}</td>
                     </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}