{% extends "falling_equations/layout.html" %}
{% load static %}

{% block content %}
<div id="home">
    <h1 id="infobar" class="bg-light font-weight-bold">
        <span id="LVL"></span>
        <span id="points" class="text-left ml-5"></span>
    </h1>
    <canvas id="canvas"></canvas>

    <img id="sourceHeart" src="{% static 'falling_equations/images/heart.png' %}">
    <img id="sourceProfileImage" src="{{ user.profile.image.url }}">
    <audio id="backgroundMusic" src="{% static 'falling_equations/sound_effects/Countdown.mp3' %}" allow="autoplay" volume="0.2">
    <audio id="enemyHit" src="{% static 'falling_equations/sound_effects/NenadSimic - Muffled Distant Explosion.mp3' %}" allow="autoplay">
</div>
{% endblock content %}

{% block script %}
<script type="module" src="{% static 'falling_equations/JS/script.js' %}"></script>
{% endblock script %}