{% extends "falling_equations/layout.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'falling_equations/CSS/style.css' %}">
{% endblock css %}

{% block content %}
<div id="home">
    <canvas id="canvas"></canvas>

    <img id="sourceProfileImage" src="{{ user.profile.image.url }}">

    <img id="sourceHeart" src="https://falling-equations-web-app.s3.eu-west-2.amazonaws.com/assets/heart.png">
    <img id="explosiveBomb" src="https://falling-equations-web-app.s3.eu-west-2.amazonaws.com/assets/explosive_bomb.png">
    <img id="iceBomb" src="https://falling-equations-web-app.s3.eu-west-2.amazonaws.com/assets/ice_bomb.png">

    <audio id="backgroundMusic" src="https://falling-equations-web-app.s3.eu-west-2.amazonaws.com/sound_effects/n-Dimensions+(Main+Theme).mp3" allow="autoplay" volume="0.2">
    <audio id="enemyHit" src="https://falling-equations-web-app.s3.eu-west-2.amazonaws.com/sound_effects/NenadSimic+-+Muffled+Distant+Explosion.mp3" allow="autoplay">
    <audio id="iceExplosion" src="https://falling-equations-web-app.s3.eu-west-2.amazonaws.com/sound_effects/ice_explosion.mp3" allow="autoplay" volume="0.2">
    <audio id="lostHealth" src="https://falling-equations-web-app.s3.eu-west-2.amazonaws.com/sound_effects/8bit_bomb_explosion.wav" allow="autoplay">
    <audio id="explosion" src="https://falling-equations-web-app.s3.eu-west-2.amazonaws.com/sound_effects/DeathFlash.mp3" allow="autoplay">
</div>
{% endblock content %}

{% block script %}
<script type="module" src="{% static 'falling_equations/JS/script.js' %}"></script>
{% endblock script %}