{% extends "falling_equations/layout.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'falling_equations/CSS/style.css' %}">
{% endblock css %}

{% block content %}
<table id="playersTable">
    <thead>
        <tr>
            <th>Player</th>
            <th>Level</th>
            <th>Score</th>
            <th>Lost To</th>
            <th>Played</th>
        </tr>
    </thead>
    <tbody>
    {% for record in games %}
        <tr>
            <td><img class="rounded-circle account-img mr-3" src="{{ record.author.profile.image.url }}"
                     width="50px" height="50px"><span class="usernameInTable" value="{{ record.author.username }}"></span></td>
            <script type="module" src="{% static 'falling_equations/JS/fitUsernamesInTable.js' %}"></script>
            <td>{{ record.level }}</td>
            <td>{{ record.score }}</td>
            <td>{{ record.last_equation }}</td>
            <td>{{ record.date_played }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<navigation>
    {% if is_paginated %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn mb-4 currentNavigationButton" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                <a class="btn mb-4 navigationButton" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
</navigation>
{% endblock content %}

{% block script %}
{% endblock script %}