#profile {
    border-radius: 20px;
    margin-top: 100px;
    border-width: 5px;
    border-color: #009879;
}

#games {
    margin-top: 60px;
}

#gamesText {
    font-size: 32px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

#playersTable {
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 18px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    margin-bottom: 100px;
}

#playersTable thead tr {
  background-color: #009879;
  color: #ffffff;
  font-weight: bold;
}

#playersTable th,
#playersTable td {
  padding: 12px 15px;
}

#playersTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

#playersTable tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

#playersTable tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}