{% extends "layout.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'equations_generator/CSS/style.css' %}">
{% endblock css %}

{% block content %}
<div>
    <fieldset class="form-group">
        <legend id="equation_section" class="border-bottom mb-5">Your random equation: </legend>
        <input id="equation" class="mb-3" value="{{ equation }}">
    </fieldset>
    <div class="form-group text-center">
        <a href="{% url 'generator' %}"><button class="btn btn-outline-light font-weight-bold" type="submit">Go back</button></a>
    </div>
</div>
{% endblock content %}

{% block script %}
<script type="module" src="{% static 'equations_generator/JS/script.js' %}"></script>
{% endblock script %}