{% extends "falling_equations/layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'equations_generator/CSS/style.css' %}">
{% endblock css %}

{% block content %}
<div>
    <form method="POST" class="font-weight-bolder">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Generate Equation</legend>
            <div class="text-light">{{ form|crispy }}</div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-light font-weight-bold" type="submit">Draw</button>
        </div>
    </form>
</div>
{% endblock content %}

{% block script %}
{% endblock script %}